@import "tailwindcss";

:root {
  --panel-gradient-silver-start: #ffffff;
  --panel-gradient-silver-mid: #e6ebf2;
  --panel-gradient-silver-end: #c9daf0;
  --background: linear-gradient(
    to bottom,
    var(--panel-gradient-silver-start) 0%,
    var(--panel-gradient-silver-mid) 50%,
    var(--panel-gradient-silver-end) 100%
  );
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
